html {
    /* height: 100%; */
    font-size: 1rem;
}
body{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.82rem;
    background-color: #999;
}
#MZ-header{
    width: 100%;
    display: flex;
    justify-content: space-evenly
}
/* logo */
.MZ-header-logo{
    display: flex;
}
.MZ-header-logo svg{
    width: 1.25rem;
    height: 0.5rem;
}
.MZ-header-menu{
    display: inline-block;
    width: 34%;
}
/* 选型 */
#menu{
    display: flex;
    justify-content: space-around;
}
#menu li{
    font-size: 0.1rem;
    list-style: none;
    cursor: pointer;
}
/* 搜索 */
.MZ-header-find{
    display:flex;
}
.MZ-header-find input{
    height: 30px;
    width: 170px;
    border-radius: 20px;
    border: 1px solid #999;
    text-indent: 0.16rem;
    outline: none;
}
.MZ-header-find a{
    text-decoration: none;
}